:root {
  --background-gradient: radial-gradient(at center, #1f3756, #141539);
  --header-outline: hsl(217, 16%, 45%);

  --rock: #db2e4d;
  --shadow-rock: #9d1634;

  --paper: #5671f5;
  --shadow-paper: #2a45c2;

  --scissors: #eb9f0e;
  --shadow-scissors: #c76c1b;

  --lizard: #834ee3;
  --lizard-shadow: #351472;

  --spock: #2d8dab;
  --spock-shadow: #156d88;
}
